.reset-password-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.re-enterPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gray;
    height: 40%;
    width: 50%;
}

.first {
    margin-top: 5rem;
}

.second {
    margin-bottom: 3rem;
}

.form-group {
    margin-top: 3rem;
}

.reset-password-button {
   margin-bottom: 5rem;
}