.reset-password-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
  
}
.reset-password-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 18rem;
}


.re-enterPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(225, 222, 222);
    padding: 2rem 3rem;
    height: 40%;
    width: 100%;
    margin-top: 5rem;
}

.first > input {
    border: none;
    width: 15rem;
}

.second > input{
    margin-bottom: 3rem;
    border: none;
    width: 15rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.reset-password-button {
   margin-bottom: 5rem;
   width: 15rem;
}