@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;700&family=Poppins&display=swap");

:root {
  --color-accent: #e02b45;
  --color-white: #ffffff;
  --color-text: #21334f;
}

.password-reset-container {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 350px;
  padding: 2rem;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 3rem;
  background: var(--color-white);
  margin-bottom: 6rem;
}
.reset-container h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.reset-container img {
  width: 5rem;
  height: 4rem;
}
.reset-container p {
  width: 300px;
  font-size: 15px;
  color: #21334f;
}
.reset-container p > span {
  color: var(--color-accent);
}

.back-to-login {
  margin-top: 0;
  background: var(--color-accent);
  color: var(--color-white);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}
