:root {
    --color-accent: #E02B45;
    --color-white: #ffffff;
    --color-text: #C4C4C4;

}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.forgot-password-container {
    padding: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    background: #ffffff;
    height: 20rem;
    width: 40%;
}
.enter-email {
    
    margin-bottom: 2rem;
    width: 80%;
    text-align: center;
    color: var(--color-text);
    
}
.form-div {
    display: flex;
    flex-direction: column;
}
.input-field-class {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 25rem;
    height: 3rem;
    font-size: 1.2rem;
    padding-left: 40px;
    border-radius: 6px;
    border: 1px solid #000000;
    background: url(./images/Icon.png) no-repeat scroll 7px 17px;
}
.input-field-class::placeholder {
  
   font-size: 1rem;
   color: var(--color-text);
}

.input-button-type {
    height: 3rem;
    background: var(--color-accent);
    color: var(--color-white);
    border: none;
    border-radius: 6px;
}

.back-to-login {
    margin-top: 2rem;
    padding: 0.7rem;

}

/* comment */