.modal-container{
    width: 389px;
    height: 209px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5%;
}

.modal-title{
    height: 43px;
    width: 100%;
    background: #34A853;
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
}

.modal-content{
    padding-left: 20px;
}

.modal-content h1{
    margin-bottom: -20px;
    padding-top:15px;
}