*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-signin{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.left-signin{
    width: 797px;
    height: 100vh;
    left: 0;
    margin-left: -160px;
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 33.19%, rgba(0, 0, 0, 0) 55.38%);
}

.left-signin img{
    height: 100vh;
    width: 100%;
    opacity: 0.7;
}

.left-signin p{
    position: absolute;
    bottom: 50px;
    left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    color: #FFFFFF;
}

.right-signin{
    width: auto;
    padding-top: 90px;
}

.right-signin p {
    margin-top: 25px;
    width: 252px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #012A4A;
}

.right-signin p span{
    color:#E02B45;
    font-weight: 500;
    font-family: 'Inter';
}

form > h2{
    margin: 2rem 0;
}
