*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-signin{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
}

.right-signin{
    width: auto;
    padding-top: 90px;
}


.right-signin p {
    margin-top: 25px;
    width: 252px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #012A4A;
}

.right-signin p span{
    color:#E02B45;
    font-weight: 500;
    font-family: 'Inter';
}

.signin-form > h2{
    margin: 2rem 0;
}

a {
    margin-bottom: 4rem;
}

/* .form-group {
    width: 80%;
    height: 50%;
    padding: 40px;
} */
/* .form-group a {
    margin-bottom: 4rem;
} */